venv/
myvenv/
env/
runs/
archive/
emotions/
yolo11m.pt
yolo11n.pt
Encela/
Fernandez/
yolo11n-seg.pt
crocDataaset/data.yaml
crocDataaset/test/images/0FS2EPS5BRRI.jpg
crocDataaset/test/images/0H65CX45204L.jpg
crocDataaset/test/images/0OPN8TCQWAO4.jpg
crocDataaset/test/images/0PK6HUZ7JGFK.jpg
crocDataaset/test/images/0RBESQNMNOHU.jpg
crocDataaset/test/images/0UI650D8CASQ.jpg
crocDataaset/test/images/0Z3833WCBGMR.jpg
crocDataaset/test/images/1AYVELYULGNA.jpg
crocDataaset/test/images/1ICY8006ZVXJ.jpg
crocDataaset/test/images/1ZVG8RT6U3B4.jpg
crocDataaset/test/images/02HJTPB1BQQ0.jpg
crocDataaset/test/images/2XIMRFRP3PHC.jpg
crocDataaset/test/images/20LOB4R0K0MF.jpg
crocDataaset/test/images/26JWSUYZSP8U.jpg
crocDataaset/test/images/2997VHSKCLCS.jpg
crocDataaset/test/images/873641-Alligator-Crocodiles-Wood.jpg
crocDataaset/test/images/florida-alligator-resting-baskin.jpg
crocDataaset/test/images/images.jpg
crocDataaset/test/images/istockphoto-533920792-612x612.jpg
crocDataaset/test/labels/0FS2EPS5BRRI.txt
crocDataaset/test/labels/0H65CX45204L.txt
crocDataaset/test/labels/0OPN8TCQWAO4.txt
crocDataaset/test/labels/0PK6HUZ7JGFK.txt
crocDataaset/test/labels/0RBESQNMNOHU.txt
crocDataaset/test/labels/0UI650D8CASQ.txt
crocDataaset/test/labels/0Z3833WCBGMR.txt
crocDataaset/test/labels/1AYVELYULGNA.txt
crocDataaset/test/labels/1ICY8006ZVXJ.txt
crocDataaset/test/labels/1ZVG8RT6U3B4.txt
crocDataaset/test/labels/02HJTPB1BQQ0.txt
crocDataaset/test/labels/2XIMRFRP3PHC.txt
crocDataaset/test/labels/20LOB4R0K0MF.txt
crocDataaset/test/labels/26JWSUYZSP8U.txt
crocDataaset/test/labels/2997VHSKCLCS.txt
crocDataaset/train/labels.cache
crocDataaset/train/images/7K3UKQ8USB9T.jpg
crocDataaset/train/images/7OPYM3V1CRP5.jpg
crocDataaset/train/images/7RG7UUYDA0YU.jpg
crocDataaset/train/images/7TVPVK8FML6I.jpg
crocDataaset/train/images/7UOM2D9010BW.jpg
crocDataaset/train/images/7VFCAQBOQA03.jpg
crocDataaset/train/images/7VQ0WFFHMOLW.jpg
crocDataaset/train/images/7XDOXYZ3M0GU.jpg
crocDataaset/train/images/8AW0EQUECG0T.jpg
crocDataaset/train/images/8IAXOVDZUP57.jpg
crocDataaset/train/images/8T4WBYONPRT1.jpg
crocDataaset/train/images/9H9Z80TB7PWC.jpg
crocDataaset/train/images/9I2PBO0EA7O7.jpg
crocDataaset/train/images/9M3OZ28Z3Z6K.jpg
crocDataaset/train/images/9R4KVS86DDM8.jpg
crocDataaset/train/images/9V4QM1AZ3K0Y.jpg
crocDataaset/train/images/92LK8XCJW1HS.jpg
crocDataaset/train/images/98QJTMXAJS8R.jpg
crocDataaset/train/images/99XT8IY0MGUW.jpg
crocDataaset/train/images/817JYQ3MESFX.jpg
crocDataaset/train/images/907V7WNP5N0S.jpg
crocDataaset/train/images/A4X05GGFBGB9.jpg
crocDataaset/train/images/A5VQ1G3Z8V6B.jpg
crocDataaset/train/images/AHEFC7RJLBLB.jpg
crocDataaset/train/images/AOL8NVJ0OUE3.jpg
crocDataaset/train/images/AQQULNV5U4N2.jpg
crocDataaset/train/images/B3JV0UXA6HCQ.jpg
crocDataaset/train/images/B4XX5YL2D7AD.jpg
crocDataaset/train/images/b7qbqaccy0721.jpg
crocDataaset/train/images/big-wooden-log-floating-pond-sur.jpg
crocDataaset/train/images/big-wooden-log-floating-river-su.jpg
crocDataaset/train/images/CEJ8N4WEZ1D6.jpg
crocDataaset/train/images/CUSR0M4AKTDG.jpg
crocDataaset/train/images/cut-timber-logs-floating-on-260n (1).jpg
crocDataaset/train/images/cut-timber-logs-floating-on-260n.jpg
crocDataaset/train/images/CXBSJLU3K1G9.jpg
crocDataaset/train/images/D1S0LQQBSJ53.jpg
crocDataaset/train/images/DB1P95ECXLEE.jpg
crocDataaset/train/images/DC9019BILXKK.jpg
crocDataaset/train/images/DECRT9WWJ324.jpg
crocDataaset/train/images/depositphotos_105607698-stock-ph.jpg
crocDataaset/train/images/depositphotos_367875824-stock-photo-gray-tree-branches-lying-above.jpg
crocDataaset/train/images/depositphotos_444886548-stock-ph.jpg
crocDataaset/train/images/DG49RP1K45TK.jpg
crocDataaset/train/images/DLOKLGBMVBUT.jpg
crocDataaset/train/images/dry-driftwood-branch-on-blue-wat.jpg
crocDataaset/train/images/DUSYG3ZYU0B3.jpg
crocDataaset/train/images/E96HRX7LPGDK.jpg
crocDataaset/train/images/EHSOFOQMYG4R.jpg
crocDataaset/train/images/EO4X4BYF4T92.jpg
crocDataaset/train/images/EO58IWGRUPZ7.jpg
crocDataaset/train/images/EQDBYHYQJ62K.jpg
crocDataaset/train/images/EU7DS9Q1E6W0.jpg
crocDataaset/train/images/EUY07YJP3V3P.jpg
crocDataaset/train/images/EW4UFQ55S9T5.jpg
crocDataaset/train/images/F1FUDYAQNLZ2.jpg
crocDataaset/train/images/F9G3HTUPY6K8.jpg
crocDataaset/train/images/FCVEA14LYUFJ.jpg
crocDataaset/train/images/FF7UFGCSZ222.jpg
crocDataaset/train/images/FHQP7X8OKSJ6.jpg
crocDataaset/train/images/Floating-Bog-Bridges-1.jpg
crocDataaset/train/images/floating-log-in-the-pond-DE9N5E.jpg
crocDataaset/train/images/floating-log.jpg
crocDataaset/train/images/floating-logs-cloudy-sky-lake-26.jpg
crocDataaset/train/images/floating-logs.jpg
crocDataaset/train/images/FRC4WSFQQ8FY.jpg
crocDataaset/train/images/FZ2U7DHQP289.jpg
crocDataaset/train/images/FZ8IY31ILANV.jpg
crocDataaset/train/images/GB7GF4XCUASY.jpg
crocDataaset/train/images/GCEXB20G2WHT.jpg
crocDataaset/train/images/GKW8FC76D5SZ.jpg
crocDataaset/train/images/GZE2MSCVTN8I.jpg
crocDataaset/train/images/GZU3EHCIPZ2O.jpg
crocDataaset/train/images/H4DIB9JW5Q2C.jpg
crocDataaset/train/images/H5KDOCP4OFZ4.jpg
crocDataaset/train/images/H5Q7G2D76OZF.jpg
crocDataaset/train/images/H8QOOKTFGXRD.jpg
crocDataaset/train/images/HGL322U2EC44.jpg
crocDataaset/train/images/HKQC12MEEXHN.jpg
crocDataaset/train/images/HQ9E2H6YRO9X.jpg
crocDataaset/train/images/HVH7G4ATEZ6J.jpg
crocDataaset/train/images/I7XJHNDSRSGX.jpg
crocDataaset/train/images/I709J4XWPWOS.jpg
crocDataaset/train/images/ID0NFVAAOEJ2.jpg
crocDataaset/train/images/ID6JHCFCKAK5.jpg
crocDataaset/train/images/IGL9GCRNIVH7.jpg
crocDataaset/train/images/IJ4FJWUDA5MH.jpg
crocDataaset/train/images/images (1).jpg
crocDataaset/train/images/images (2).jpg
crocDataaset/train/images/images (3).jpg
crocDataaset/train/images/images (4).jpg
crocDataaset/train/images/images.jpg
crocDataaset/train/images/IPWZP8JHYTP0.jpg
crocDataaset/train/images/J6NE9EO9SM1H.jpg
crocDataaset/train/images/J6WVWKTUOLLN.jpg
crocDataaset/train/images/J9O85X0VB1IO.jpg
crocDataaset/train/images/J51JIN65O0UY.jpg
crocDataaset/train/images/JCB9HFR54JZW.jpg
crocDataaset/train/images/jeremycrocsinwater00004.jpg
crocDataaset/train/images/JFZLWTC3KYMY.jpg
crocDataaset/train/images/JG7QCSLPFKKE.jpg
crocDataaset/train/images/KDV686L1QYYE.jpg
crocDataaset/train/images/KN3Q9FA4UCGT.jpg
crocDataaset/train/images/KQKJKKXF6GSE.jpg
crocDataaset/train/images/KRCS8AA7F61U.jpg
crocDataaset/train/images/KXMZ5VOZZ43Q.jpg
crocDataaset/train/images/KXZIQ2BOKXQA.jpg
crocDataaset/train/images/L0WHRAG1LL56.jpg
crocDataaset/train/images/L866PWM3NPT9.jpg
crocDataaset/train/images/log-floating-on-water-260nw-1588.jpg
crocDataaset/train/images/logs-sit-sawmill-pond-awaiting-2.jpg
crocDataaset/train/images/M0AJI606W6W6.jpg
crocDataaset/train/images/M2H9F8OD9509.jpg
crocDataaset/train/images/M14AQ7PY1BLK.jpg
crocDataaset/train/images/man-standing-on-top-of-log-in-wa.jpg
crocDataaset/train/images/MCXXKM25X928.jpg
crocDataaset/train/images/old-mossy-sunken-broken-log-260n.jpg
crocDataaset/train/images/old-wood-log-floating-on-260nw-2.png
crocDataaset/train/images/rotten-fallen-tree-trunk-floats.jpg
crocDataaset/train/images/single-log-floating-in-calm-lake.jpg
crocDataaset/train/images/SOL0OJ3Y5QA6.jpg
crocDataaset/train/images/SYB947VSAZ6F.jpg
crocDataaset/train/images/T24GDGEROIGR.jpg
crocDataaset/train/images/TBHPTPZLQO8Z.jpg
crocDataaset/train/images/TD7AXLQCZCXS.jpg
crocDataaset/train/images/TI57E6NCC2EA.jpg
crocDataaset/train/images/TZ5RZNDV3V62.jpg
crocDataaset/train/images/U1GIEE61VRBZ.jpg
crocDataaset/train/images/UP1RKPSR548H.jpg
crocDataaset/train/images/UU3A6YW9MHVO.jpg
crocDataaset/train/images/UW4WVVPF0BBN.jpg
crocDataaset/train/images/UXJAZG7P55P8.jpg
crocDataaset/train/images/V1WL6XRLAVN5.jpg
crocDataaset/train/images/VOA8HL447EBO.jpg
crocDataaset/train/images/W75H7HUQCJYQ.jpg
crocDataaset/train/images/wooden-log-floating-on-the-river.jpg
crocDataaset/train/images/y1ktxoanc0g71.jpg
crocDataaset/train/images/ZVKWN0031NCC.jpg
crocDataaset/train/labels/7K3UKQ8USB9T.txt
crocDataaset/train/labels/7OPYM3V1CRP5.txt
crocDataaset/train/labels/7RG7UUYDA0YU.txt
crocDataaset/train/labels/7TVPVK8FML6I.txt
crocDataaset/train/labels/7UOM2D9010BW.txt
crocDataaset/train/labels/7VFCAQBOQA03.txt
crocDataaset/train/labels/7VQ0WFFHMOLW.txt
crocDataaset/train/labels/7XDOXYZ3M0GU.txt
crocDataaset/train/labels/8AW0EQUECG0T.txt
crocDataaset/train/labels/8IAXOVDZUP57.txt
crocDataaset/train/labels/8T4WBYONPRT1.txt
crocDataaset/train/labels/9H9Z80TB7PWC.txt
crocDataaset/train/labels/9I2PBO0EA7O7.txt
crocDataaset/train/labels/9M3OZ28Z3Z6K.txt
crocDataaset/train/labels/9R4KVS86DDM8.txt
crocDataaset/train/labels/9V4QM1AZ3K0Y.txt
crocDataaset/train/labels/92LK8XCJW1HS.txt
crocDataaset/train/labels/98QJTMXAJS8R.txt
crocDataaset/train/labels/99XT8IY0MGUW.txt
crocDataaset/train/labels/817JYQ3MESFX.txt
crocDataaset/train/labels/907V7WNP5N0S.txt
crocDataaset/train/labels/A4X05GGFBGB9.txt
crocDataaset/train/labels/A5VQ1G3Z8V6B.txt
crocDataaset/train/labels/AHEFC7RJLBLB.txt
crocDataaset/train/labels/AOL8NVJ0OUE3.txt
crocDataaset/train/labels/AQQULNV5U4N2.txt
crocDataaset/train/labels/B3JV0UXA6HCQ.txt
crocDataaset/train/labels/B4XX5YL2D7AD.txt
crocDataaset/train/labels/b7qbqaccy0721.txt
crocDataaset/train/labels/big-wooden-log-floating-pond-sur.txt
crocDataaset/train/labels/big-wooden-log-floating-river-su.txt
crocDataaset/train/labels/CEJ8N4WEZ1D6.txt
crocDataaset/train/labels/CUSR0M4AKTDG.txt
crocDataaset/train/labels/cut-timber-logs-floating-on-260n (1).txt
crocDataaset/train/labels/cut-timber-logs-floating-on-260n.txt
crocDataaset/train/labels/CXBSJLU3K1G9.txt
crocDataaset/train/labels/D1S0LQQBSJ53.txt
crocDataaset/train/labels/DB1P95ECXLEE.txt
crocDataaset/train/labels/DC9019BILXKK.txt
crocDataaset/train/labels/DECRT9WWJ324.txt
crocDataaset/train/labels/depositphotos_105607698-stock-ph.txt
crocDataaset/train/labels/depositphotos_367875824-stock-photo-gray-tree-branches-lying-above.txt
crocDataaset/train/labels/depositphotos_444886548-stock-ph.txt
crocDataaset/train/labels/DG49RP1K45TK.txt
crocDataaset/train/labels/DLOKLGBMVBUT.txt
crocDataaset/train/labels/dry-driftwood-branch-on-blue-wat.txt
crocDataaset/train/labels/DUSYG3ZYU0B3.txt
crocDataaset/train/labels/E96HRX7LPGDK.txt
crocDataaset/train/labels/EHSOFOQMYG4R.txt
crocDataaset/train/labels/EO4X4BYF4T92.txt
crocDataaset/train/labels/EO58IWGRUPZ7.txt
crocDataaset/train/labels/EQDBYHYQJ62K.txt
crocDataaset/train/labels/EU7DS9Q1E6W0.txt
crocDataaset/train/labels/EUY07YJP3V3P.txt
crocDataaset/train/labels/EW4UFQ55S9T5.txt
crocDataaset/train/labels/F1FUDYAQNLZ2.txt
crocDataaset/train/labels/F9G3HTUPY6K8.txt
crocDataaset/train/labels/FCVEA14LYUFJ.txt
crocDataaset/train/labels/FF7UFGCSZ222.txt
crocDataaset/train/labels/FHQP7X8OKSJ6.txt
crocDataaset/train/labels/Floating-Bog-Bridges-1.txt
crocDataaset/train/labels/floating-log-in-the-pond-DE9N5E.txt
crocDataaset/train/labels/floating-log.txt
crocDataaset/train/labels/floating-logs-cloudy-sky-lake-26.txt
crocDataaset/train/labels/floating-logs.txt
crocDataaset/train/labels/FRC4WSFQQ8FY.txt
crocDataaset/train/labels/FZ2U7DHQP289.txt
crocDataaset/train/labels/FZ8IY31ILANV.txt
crocDataaset/train/labels/GB7GF4XCUASY.txt
crocDataaset/train/labels/GCEXB20G2WHT.txt
crocDataaset/train/labels/GKW8FC76D5SZ.txt
crocDataaset/train/labels/GZE2MSCVTN8I.txt
crocDataaset/train/labels/GZU3EHCIPZ2O.txt
crocDataaset/train/labels/H4DIB9JW5Q2C.txt
crocDataaset/train/labels/H5KDOCP4OFZ4.txt
crocDataaset/train/labels/H5Q7G2D76OZF.txt
crocDataaset/train/labels/H8QOOKTFGXRD.txt
crocDataaset/train/labels/HGL322U2EC44.txt
crocDataaset/train/labels/HKQC12MEEXHN.txt
crocDataaset/train/labels/HQ9E2H6YRO9X.txt
crocDataaset/train/labels/HVH7G4ATEZ6J.txt
crocDataaset/train/labels/I7XJHNDSRSGX.txt
crocDataaset/train/labels/I709J4XWPWOS.txt
crocDataaset/train/labels/ID0NFVAAOEJ2.txt
crocDataaset/train/labels/ID6JHCFCKAK5.txt
crocDataaset/train/labels/IGL9GCRNIVH7.txt
crocDataaset/train/labels/IJ4FJWUDA5MH.txt
crocDataaset/train/labels/images (1).txt
crocDataaset/train/labels/images (2).txt
crocDataaset/train/labels/images (3).txt
crocDataaset/train/labels/images (4).txt
crocDataaset/train/labels/images.txt
crocDataaset/train/labels/IPWZP8JHYTP0.txt
crocDataaset/train/labels/J6NE9EO9SM1H.txt
crocDataaset/train/labels/J6WVWKTUOLLN.txt
crocDataaset/train/labels/J9O85X0VB1IO.txt
crocDataaset/train/labels/J51JIN65O0UY.txt
crocDataaset/train/labels/JCB9HFR54JZW.txt
crocDataaset/train/labels/jeremycrocsinwater00004.txt
crocDataaset/train/labels/JFZLWTC3KYMY.txt
crocDataaset/train/labels/JG7QCSLPFKKE.txt
crocDataaset/train/labels/KDV686L1QYYE.txt
crocDataaset/train/labels/KN3Q9FA4UCGT.txt
crocDataaset/train/labels/KQKJKKXF6GSE.txt
crocDataaset/train/labels/KRCS8AA7F61U.txt
crocDataaset/train/labels/KXMZ5VOZZ43Q.txt
crocDataaset/train/labels/KXZIQ2BOKXQA.txt
crocDataaset/train/labels/L0WHRAG1LL56.txt
crocDataaset/train/labels/L866PWM3NPT9.txt
crocDataaset/train/labels/log-floating-on-water-260nw-1588.txt
crocDataaset/train/labels/logs-sit-sawmill-pond-awaiting-2.txt
crocDataaset/train/labels/M0AJI606W6W6.txt
crocDataaset/train/labels/M2H9F8OD9509.txt
crocDataaset/train/labels/M14AQ7PY1BLK.txt
crocDataaset/train/labels/man-standing-on-top-of-log-in-wa.txt
crocDataaset/train/labels/MCXXKM25X928.txt
crocDataaset/train/labels/old-mossy-sunken-broken-log-260n.txt
crocDataaset/train/labels/old-wood-log-floating-on-260nw-2.txt
crocDataaset/train/labels/rotten-fallen-tree-trunk-floats.txt
crocDataaset/train/labels/single-log-floating-in-calm-lake.txt
crocDataaset/train/labels/SOL0OJ3Y5QA6.txt
crocDataaset/train/labels/SYB947VSAZ6F.txt
crocDataaset/train/labels/T24GDGEROIGR.txt
crocDataaset/train/labels/TBHPTPZLQO8Z.txt
crocDataaset/train/labels/TD7AXLQCZCXS.txt
crocDataaset/train/labels/TI57E6NCC2EA.txt
crocDataaset/train/labels/TZ5RZNDV3V62.txt
crocDataaset/train/labels/U1GIEE61VRBZ.txt
crocDataaset/train/labels/UP1RKPSR548H.txt
crocDataaset/train/labels/UU3A6YW9MHVO.txt
crocDataaset/train/labels/UW4WVVPF0BBN.txt
crocDataaset/train/labels/UXJAZG7P55P8.txt
crocDataaset/train/labels/V1WL6XRLAVN5.txt
crocDataaset/train/labels/VOA8HL447EBO.txt
crocDataaset/train/labels/W75H7HUQCJYQ.txt
crocDataaset/train/labels/wooden-log-floating-on-the-river.txt
crocDataaset/train/labels/y1ktxoanc0g71.txt
crocDataaset/train/labels/ZVKWN0031NCC.txt
crocDataaset/val/labels.cache
crocDataaset/val/images/1.jpg
crocDataaset/val/images/2Z2VJW7TET2V.jpg
crocDataaset/val/images/3AQ9PECD7DX3.jpg
crocDataaset/val/images/3E0LQ8EKUMUG.jpg
crocDataaset/val/images/3HREAFZCG5EE.jpg
crocDataaset/val/images/3LIAOCH7I09Z.jpg
crocDataaset/val/images/3LUL8HBDYA72.jpg
crocDataaset/val/images/3Q3YFEW25LFL.jpg
crocDataaset/val/images/4A7VPD7Y6FHL.jpg
crocDataaset/val/images/4EASY91PNPWK.jpg
crocDataaset/val/images/4GGDBTAZWNLA.jpg
crocDataaset/val/images/4NRE3LQ4CK19.jpg
crocDataaset/val/images/4PV5J1A0HG5S.jpg
crocDataaset/val/images/4XYJZA6CB1XO.jpg
crocDataaset/val/images/4Y63LVFDPLT5.jpg
crocDataaset/val/images/4Z5RV4NDM73W.jpg
crocDataaset/val/images/5h3r3auxe2651 (1).jpg
crocDataaset/val/images/5h3r3auxe2651.jpg
crocDataaset/val/images/5MXQ7FRUD7V2.jpg
crocDataaset/val/images/5O82TVCDB7AC.jpg
crocDataaset/val/images/5YR7TQNUBUFP.jpg
crocDataaset/val/images/6C4M4TSK3NSC.jpg
crocDataaset/val/images/6GYK8MHS63N4.jpg
crocDataaset/val/images/6M2Z584R276R.jpg
crocDataaset/val/images/6Q1S6LRTHT4O.jpg
crocDataaset/val/images/7HRXK904B61Q.jpg
crocDataaset/val/images/36T3SX46DWWO.jpg
crocDataaset/val/images/37HLSP18BUGL.jpg
crocDataaset/val/images/38GGJLQ88UE9.jpg
crocDataaset/val/images/39U6ZPX3JLHZ.jpg
crocDataaset/val/images/40AA45YQ3BEM.jpg
crocDataaset/val/images/80-croc-looking-like-a-log-2.jpg
crocDataaset/val/images/338LP8P1TDUN.jpg
crocDataaset/val/images/390LW59R0O85.jpg
crocDataaset/val/images/11400223596_58d5407c23_b.jpg
crocDataaset/val/labels/1.txt
crocDataaset/val/labels/2Z2VJW7TET2V.txt
crocDataaset/val/labels/3AQ9PECD7DX3.txt
crocDataaset/val/labels/3E0LQ8EKUMUG.txt
crocDataaset/val/labels/3HREAFZCG5EE.txt
crocDataaset/val/labels/3LIAOCH7I09Z.txt
crocDataaset/val/labels/3LUL8HBDYA72.txt
crocDataaset/val/labels/3Q3YFEW25LFL.txt
crocDataaset/val/labels/4A7VPD7Y6FHL.txt
crocDataaset/val/labels/4EASY91PNPWK.txt
crocDataaset/val/labels/4GGDBTAZWNLA.txt
crocDataaset/val/labels/4NRE3LQ4CK19.txt
crocDataaset/val/labels/4PV5J1A0HG5S.txt
crocDataaset/val/labels/4XYJZA6CB1XO.txt
crocDataaset/val/labels/4Y63LVFDPLT5.txt
crocDataaset/val/labels/4Z5RV4NDM73W.txt
crocDataaset/val/labels/5h3r3auxe2651 (1).txt
crocDataaset/val/labels/5h3r3auxe2651.txt
crocDataaset/val/labels/5MXQ7FRUD7V2.txt
crocDataaset/val/labels/5O82TVCDB7AC.txt
crocDataaset/val/labels/5YR7TQNUBUFP.txt
crocDataaset/val/labels/6C4M4TSK3NSC.txt
crocDataaset/val/labels/6GYK8MHS63N4.txt
crocDataaset/val/labels/6M2Z584R276R.txt
crocDataaset/val/labels/6Q1S6LRTHT4O.txt
crocDataaset/val/labels/7HRXK904B61Q.txt
crocDataaset/val/labels/36T3SX46DWWO.txt
crocDataaset/val/labels/37HLSP18BUGL.txt
crocDataaset/val/labels/38GGJLQ88UE9.txt
crocDataaset/val/labels/39U6ZPX3JLHZ.txt
crocDataaset/val/labels/40AA45YQ3BEM.txt
crocDataaset/val/labels/80-croc-looking-like-a-log-2.txt
crocDataaset/val/labels/338LP8P1TDUN.txt
crocDataaset/val/labels/390LW59R0O85.txt
crocDataaset/val/labels/11400223596_58d5407c23_b.txt
catdog/datasets/computer/1.png
catdog/datasets/computer/2.png
catdog/datasets/computer/3.png
catdog/datasets/computer/4.png
catdog/datasets/computer/5.png
catdog/datasets/computer/6.png
catdog/datasets/computer/7.png
catdog/datasets/computer/8.png
catdog/datasets/computer/9.png
catdog/datasets/computer/10.png
catdog/datasets/computer/11.png
catdog/datasets/computer/12.png
catdog/datasets/computer/13.png
catdog/datasets/computer/14.png
catdog/datasets/computer/15.png
catdog/datasets/computer/16.png
catdog/datasets/computer/17.png
catdog/datasets/computer/18.png
catdog/datasets/computer/19.png
catdog/datasets/computer/20.png
